.SignUpPage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.LoginPage-logo{
    width: 100%;
    height: 40px;
    object-fit: contain;
    margin-bottom: 10px;
}
@media screen and (max-width:767px){
    .SignUpPage{
        margin-bottom: 30px;
    }
}
@media screen and (max-width:767px){
    .LoginPage-logo{
        width: 100px;
        height: 40px;
        object-fit: contain;
        margin-bottom: 10px;
    }
}
.Signup-container{
    width: 300px;
    border: 1px solid grey;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(167, 164, 164) ;
}
@media screen and (max-width:767px){
    .Signup-container {
        width: 250px;
        padding: 20px;
    }
}
.Signup-container>form>h4{
    margin-bottom: 5px;
}
.Signup-container> form>input{
    margin-bottom: 5px;
    width: 100%;
    height: 30px;
}
@media screen and (max-width:767px){
    .Signup-container> form>input{
        margin-bottom: 0;
    }
}
.Signup-container> form>button{
    background-color:#0073b1;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 100%;
    color: white; 
}
@media screen and (max-width:767px){
    .Signup-container> form>button{
        background-color: #0073b1;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;   
    }
}
.Signup-container> h1{
    margin-bottom: 5px;
}
@media screen and (max-width:767px){
    .Signup-container> h1  {
        margin-bottom: 10px;
        font-size: 26px;
    }
}
.forminput>span{
    display:none ;
    color:red
}
input:invalid~span{
    display: block;
}
