.header{
   
    display: flex;
    margin-left: 100px;
    border-bottom: 0.1px solid grey;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 100px;
 
    
    
}
.header-left{
    display: flex;
   }
.header-left>img{
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-right: 10px;
}
.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eef3f8;
    padding: 10px;
    border-radius: 5px;
    color: grey;
   
}
.searchbar>input{
    border: none;
    background-color: #eef3f8;
    outline: none;
    padding: 5px;
  
}
.header-middle{
    display: flex;
    margin-left: 70px;
}
.work{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}
.header-right{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 50px;
}
.work>h1{
    font-size: 20px;
}