.FeedOptions{
    display: flex;
    align-items: center;
    gap :20px;
    cursor: pointer;
}
@media screen and (max-width:767px) {
    .FeedOptions{
    
        gap :10px;
        cursor: pointer;
        margin-right: 10px;
    }
}
.FeedOptions>p{
    color: grey;
    font-size: 18px;
    font-weight: bolder;
}
.FeedOptions:hover{
    background-color: whitesmoke;
    border-radius: 10px;
   
}
