.Main-body{
    display: flex;
    background-color: rgba(240, 234, 234, 0.986);
    justify-content: center;
    padding-left: 100px;
}
@media screen and (max-width:767px) {
    .Main-body{
        display:block;
        padding-left: 0px;
    }
}